body {
    background-color: #dadada;
    padding-top: 0px;
    text-align: center;
}

.logo img {
    max-width: 100%;
    max-height: 250px;
}

.header-text {
    margin: 20px 0px;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.credits {
    margin-top: 100px;
    margin-bottom: 30px;
}

.car-container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car {
    background: white;
    width: 240px;
    height: 150px;
    padding-top: 3px;
    margin: 10px;
    border-radius: 6px;
    transition: 0.3s box-shadow, 0.3s transform;
}
.car:hover {
    box-shadow: 0px 2px 6px 2px #9C9C9C;
    transform: scale(1.1, 1.1);
}

.car .image {
    max-height: 50%;
}

.car .info {
    font-weight: bold;
}

.car .mileage {
    font-style: italic;
    font-size: 1.1em;
}

.car .price {
    color: green;
    font-size: 1.4em;
    font-weight: bold;
}